.idWrap{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;

    //Head
    .idWrap__Head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10%;
        padding: 1rem 1.5rem;
        z-index: 1;
        
        .rowBack{
            text-align: left;
            display: flex;
            align-items: center;
            border: none;
            background: none;
    
            .angleLeft{
                margin-right: .75rem;
                size: 1.5rem;
            }
        }
    
        .welcomeLogo{
            display: none;
            width: 7.5rem;
        }
    }

    .desktopTopVector{
        display: none;
        z-index: 0;
    }

    .mobileTopVector{
        display: block;
        position: absolute;
        right: 0%;
    }

    
    .welcomeImage{
        width: 9.0625rem;
        margin-top: 2rem;
    }

    //FlexItems
    .flexItems{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 3rem;
        padding: 1rem;
        z-index: 1;

        @media screen and (min-width: 390px) {
            margin-top: 0;
        }

        .itemOne{
            margin: 1rem auto;
            h3{
                font-size: var(--fourty);
                font-weight: 500;
                text-align: center;
            }
    
            .smallText{
                font-size: var(--fourteen);
                font-style: italic;
                text-align: center;
                line-height: .85rem;
                margin: 1rem auto 0;

                @media screen and (min-width: 450px) and (max-width: 900px) {
                    width: 80%;
                }
            }
        }
        

        
        .itemTwo{
            align-self: center;

            .dropBox{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: calc(100% - 2rem); 
                margin: 1rem auto;
                padding: 1.5rem;
                background-color: #F9F9F9;
                border: 1.5px solid #DEDDDD;
                border-radius: 10px;

                @media screen and (min-width: 320px) and (max-width: 375px) {
                    width: fit-content;
                }

                .uploadIcon{
                    font-size: 3.5rem;
                    margin-bottom: .5rem;
                }

                .uploadButtons{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h5{
                        font-family: var(--font-text);
                        position: relative;
                        font-weight: 600;
                    }

                    .upload{
                        position: absolute;
                        opacity: 0;
                    }

                    .browse{
                        background: none;
                        border: none;
                        text-decoration: underline;
                        text-underline-offset: .2rem;
                        margin-left: .5rem;
                        font-size: var(--twentyFour);
                        font-weight: 600;
                    }
                }
        
                p{
                    margin-top: .75rem;
                    line-height: .85rem;
                    color: #55595B;
                }
            }

            .uploadBox_off{
                display: none;
            }

            .uploadBox{
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                text-align: center;
                width: calc(100% - 2rem); 
                margin: 1rem auto;
                padding: 1.5rem;
                background-color: #F9F9F9;
                border: 1.5px solid #DEDDDD;
                border-radius: 10px;

                h5{
                    font-size: var(--eighteen);
                    color: #707070;
                    text-align: center;
                    font-family: var(--font-text);
                    margin-top: 1rem;
                }

                .childFlex{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 2rem;

                    .documentIcon{
                        fill: #707070;
                    }

                    .docInfo{
                        display: flex;
                        flex-direction: column;
                        margin-left: 1rem;

                        .fileName{
                            text-align: left;
                            font-size: var(--sixteen);
                            line-height: 1.125rem;
                        }

                        .progressInfo{
                            display: flex;
                            align-items: center;

                            progress{
                                width: 13rem;
                                margin-right: .65rem;
                            
                                &::-webkit-progress-value{
                                    background-color: var(--black);
                                }
                            }
                        }
                        
                        .fileSize{
                            display: flex;
                            justify-content: space-between;

                            .size{
                                font-size: var(--twelve);
                                color: #888888;
                                line-height: .875rem;
                            }

                            .percent{
                                font-size: var(--ten);
                                color: #55595B;
                                line-height: .875rem;
                                margin-right: 1.5rem;
                            }
                        }

                    }
                }
            }
    
        }

        .selectOptions{
            margin: 1rem;

            .selectHead{
                font-size: var(--eighteen);
                margin-bottom: .75rem;
            }

            .options{
                display: flex;
                flex-direction: column;

                .opt{
                    margin-bottom: .75rem;
                    position: relative;
                    display: flex;
                    align-items: center;

                    label{
                        margin-left: 1rem;
                        font-size: var(--sixteen);
                        font-weight: 600;

                        a{
                            text-decoration: underline;
                            text-underline-offset: .25rem;
                            margin-left: .1rem;
                        }
                    }
                }
            }
        }
    }



    //Footer
    footer{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
            
        .continue{
            width: 12.25rem;
            height: 3.1875rem;
            padding: .75rem;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 0%;
            background-color: #989898;
            color: var(--white);
            border: none;
            border-radius: .5625rem;
            transition: .3s ease;
            font-size: var(--sixteen);
            z-index: 1;

            &:hover{
                background-color: var(--black);
            }
        }   

        .next{
            width: 18rem;
            height: 3.1875rem;
            padding: .75rem;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #989898;
            color: var(--white);
            border: none;
            border-radius: .5625rem;
            transition: .3s ease;
            font-size: var(--sixteen);
            z-index: 1;

            &:hover{
                background-color: var(--black);
            }
        }

        .mobileBottomVector{
            display: block;
            position: absolute;
            bottom: 0%;
            left: 0%;
            height: 10rem;
            z-index: 0;
        }
    }
}

@media screen and (min-width: 900px) {
    .idWrap{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns:100%;
        grid-template-areas:
            "header"
            "body"
            "footer"
        ;
        grid-template-rows: 10% 1fr 10rem;
        overflow: hidden;
    
        //Head
        .idWrap__Head{
            grid-area: header;
            display: flex;
            align-items: center;
            margin: auto 0;
            height: 10%;
            padding: 1rem 2rem;

            .welcomeLogo{
                display: flex;
                margin: 0 auto;
                justify-content: center;
            }
        }
    
        .mobileTopVector{
            display: none;
        }

        .desktopTopVector{
            display: block;
            position: absolute;
            right: -40%;
            top: 0%;
            height: 100%;

            @media screen and (min-width: 1000px) {
                right: 0%;
            }
        }
    
        .welcomeImage{
            width: 14.375rem;
        }

        .flexItems{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 80px;
            padding: 2rem;
            place-items: flex-start;
            align-items: flex-start;
            width: 100%;
            margin: 5rem auto 0;

            @media screen and (min-width: 1100px) {
                width: 90%;
            }

            .itemOne{
                margin: 0;
                max-width: 30rem;

                h3{
                    font-size: var(--thirtyTwo);
                    text-align: left;
                }
    
                .smallText{
                    width: 22.5rem;
                    font-size: var(--twelve);
                    text-align: left;
                    margin-top: .5rem;
                }

                
            }
            
            .itemTwo{
                align-self: normal;
                .dropBox{
                    background-color: #F9F9F9;
                    border: 1.5px solid #DEDDDD;
                    width: 30rem;
                    height: 15rem;
                    margin: 0 auto;
    
                    .uploadIcon{
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }

                    .uploadButtons{
                        h5{
                            font-size: var(--sixteen);
                            position: relative;
                        }
                        .upload{
                            position: absolute;
                            opacity: 0;
                        }
    
                        .browse{
                            background: none;
                            border: none;
                            font-size: var(--sixteen);
                        }
                    }

                    p{
                        margin-top: 1rem;
                        font-size: var(--twelve);
                        width: 220px;
                    }
                }

                .uploadBox{
                    background-color: #F9F9F9;
                    border: 1.5px solid #DEDDDD;
                    width: 30rem;
                    height: 15rem;
                    margin: 0 auto;

                    .documentIcon{
                        fill: var(--black);
                    }

                    .docInfo{
                        .progressInfo{
                            progress{
                                width: 20rem;
                            
                                &::-webkit-progress-value{
                                    background-color: var(--black);
                                }
                            }
                        }
                    }
                }
            }
        }

        //Footer
        footer{
            justify-content: flex-end;
            margin-right: 10%;
            align-items: flex-start;

            .mobileBottomVector{
                display: none;
            }

            .desktopBottomVector{
                display: block;
                position: absolute;
                bottom: 0%;
                left: 0%;
            }

            .next{
                margin-right: 10%;
                width: 20rem;
            }
        }
    }
}
