.stylistFinance_Page {
    .wd_80 {
        .stylistFinance_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;

            @media screen and (min-width: 800px) {
                margin: 2rem 3rem;
            }

            .previousButton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;

                p{
                    color: #707070;
                }
            }
        }

        .transactions_subhead {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0 2rem 1rem;

            @media screen and (min-width: 800px) {
                justify-content: space-between;
                margin-left: 3rem;
                margin-right: 3rem;
            }

            .formHead {
                align-self: flex-start;
                font-family: var(--font-head);
                font-size: var(--thirtyEight);
                font-weight: 600;
                margin-bottom: 1rem;
                line-height: 38px;

                @media screen and (min-width: 800px) {
                    font-size: var(--thirtyTwo);
                    font-weight: 500;
                }
            }

            .earningsFlex {
                gap: 1rem;
                margin: 1rem 2rem 1rem;
                width: 100%;

                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    margin: 0rem;
                    border-bottom: 1px solid #bebebe;
                    padding-bottom: 1rem;
                }

                .flexItem {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    height: 8rem;
                    padding: 1.5rem;
                    border-radius: 20px;
                    margin-bottom: 1rem;

                    p {
                        font-size: var(--fourteen);
                        font-weight: 400;
                        line-height: 1rem;
                        letter-spacing: 0em;
                        text-align: center;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: .5rem;
                    }

                    h3 {
                        font-size: var(--fourty);
                        font-family: var(--font-text);
                        font-weight: 400;
                        line-height: 2rem;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

                .blackFlex_Item {
                    background: var(--black);
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.03);

                    h3 {
                        color: var(--white);
                    }

                    p {
                        color: var(--white);
                    }
                }

                .pinkFlex_Item {
                    background: var(--pink);
                    border: 1px solid #ebcce9;
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.03);
                }

                .greyFlex_Item {
                    background: #f2f2f2;
                    border: 1px solid #dfdfdf;
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.1);
                }

                .borderFlex_Item {
                    background: var(--white);
                    border: 1px solid #bebebe;
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.03);
                }
            }
        }
    }

    .adminFinance_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 6rem;
        @media screen and (min-width: 768px) {
            margin-bottom: 2rem;
        }

        .transactionsHead{
            font-size: var(--twentyFour);
            margin-bottom: 2rem;

            @media screen and (min-width: 768px) {
                margin-top: 2rem;
            }
        }

        .noTransactions {
            display: grid;
            place-items: center;

            .noTransaction_Img {
                height: 4.6875rem;
                width: 4.6875rem;
                border-radius: 0px;
                margin-bottom: 1rem;
            }

            .noTransaction_Txt {
                font-size: var(--twentyTwo);
                font-weight: 700;
                line-height: 1.625rem;
                letter-spacing: 0em;
                text-align: center;
                margin-bottom: 0.5rem;
            }

            .smallNote {
                font-size: var(--sixteen);
                font-style: italic;
                font-weight: 500;
                line-height: 1.1875rem;
                letter-spacing: 0em;
                text-align: center;
                color: #707070;
            }
        }

        .transactionTable_Section{
            display: block;

            .transactionHead_Section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .inputWrap {
                    width: 60%;
                    
                    @media screen and (min-width: 800px) {
                        width: 526px;
                    }

                    .inputField {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 43px;
                        padding: 0.5rem;
                        background: #fbfbfb;
                        border: 1px solid #dfdfdf;
                        border-radius: 10px;
                        
            
                        input {
                            width: 80%;
                            padding-left: 1rem;
                            outline: none;
                            background: none;
                            border: none;
                            font-size: var(--eighteen);
        
                            &::placeholder {
                                color: #bebebe;
                                font-size: var(--fourteen);
                            }
                        }
                    }
                }
        
                .filterButton{
                    width: 103px;
                    height: 2.5rem;
                    font-size: var(--sixteen);
                    background: var(--white);
                    border: 1px solid #707070;
                    border-radius: 10px;
                    padding: .5rem 1rem;
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .filterDropdown{
                    width: 11.5rem;
                    height: 12.375rem;
                    background: var(--white);
                    box-shadow: 0px 0px 4px 2px rgba(169, 169, 169, 0.25);
                    border-radius: 10px;
                    display: block;
                    padding: 1.5rem 1rem;
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    top: 3rem;
                    
                    .filterWrap{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: .75rem;
                        font-size: var(--sixteen);
        
                        .radioButton{
                            margin-right: 1rem;
                            width: 1.25rem;
                            height: 1.25rem;
                            border: 2px solid #BEBEBE;
                            border-radius: 50%;
                            position: relative;
                            padding: 4px;
                        }
                        
                        input[type="radio" i] {
                            opacity: 0;
                            position: absolute;
                            z-index: 1;
                        }
        
                        input[type="radio" i]:checked ~ .radioButton{
                            background-color: var(--hotPink);
                        }
                    }
                }
            }

            .transactionTable{
                margin: 2rem auto 1rem;
                width: 100vw;
                overflow-x: scroll;
                    
                @media screen and (min-width: 500px) and (max-width: 768px) {
                    margin-top: 1rem;
                }
                
                @media screen and (min-width: 768px) {
                    width: 100%;
                    margin: 0;
                    margin-top: 2rem;
                    overflow-x: hidden;
                }
                
                .tableHead{
                    display: grid;
                    grid-template-columns: repeat(6, 150px);
                    place-items: center;
                    justify-content: space-evenly;
                    gap: 1rem;
                    height: 3rem; 
                    background: #F2F2F2;
                    width: fit-content;

                    @media screen and (min-width: 768px) {
                        grid-template-columns: 
                        minmax(150px, 1fr)    
                            minmax(150px, 1.67fr)    
                            minmax(100px, 1.5fr)    
                            minmax(100px, 1fr)    
                            minmax(150px, 1fr)    
                            minmax(80px, 1fr)
                        ;
                    }

                    p{
                        font-size: var(--eighteen);
                        font-weight: 600;
                        line-height: 1.25rem;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

                .tableItem{
                    height: 28rem;
                    width: fit-content;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    margin-top: 1rem;
                    
                    .tableRow{
                        height: 4rem;
                        display: grid;
                        grid-template-columns: repeat(6, 150px);
                        gap: 1rem;
                        align-items: center;
                        border-bottom: 1px solid #f2f2f2;

                        @media screen and (min-width: 768px) {
                            grid-template-columns: 
                                minmax(150px, 1fr)    
                                minmax(150px, 1.67fr)    
                                minmax(100px, 1fr)    
                                minmax(100px, 1fr)    
                                minmax(150px, 1fr)    
                                minmax(80px, 1fr)
                            ;
                        }

                        .tableData{
                            text-align: center;
                            justify-content: center;
                            font-size: var(--eighteen);
                            padding: .5rem;
                            
                            @media screen and (min-width: 768px) {
                                padding: 0;
                            }

                        }
                        
                        .completedStatus{
                            background: #C5E9D3;
                            border-radius: 5px;
                            text-align: center;
                            height: 2rem;
                            color: var(--black);
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            font-size: var(--eighteen);
                            font-weight:600;
                            width: 9rem;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            transition: all .2s ease-in-out;
                            &:hover{
                                transform: scale(.9, .9);
                                
                            }
                        }
                        
                        .cancelledStatus{
                            background: rgba(242, 106, 106, 0.1);
                            border-radius: 5px;
                            color: #F26A6A;
                            text-align: center;
                            height: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            font-size: var(--eighteen);
                            font-weight:600;
                            width: 9rem;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            transition: all .2s ease-in-out;
                            &:hover{
                                transform: scale(.9, .9);
                                
                            }
                        }
                    }

                }
            }
        }
    }
}

