.adminFinance_Page{
    .wd_80 {
        .adminFinance_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;

            @media screen and (min-width: 800px) {
                margin: 2rem 3rem 1rem;
            }

            .previousButton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                background: none;
                outline: none;
            }
        }

        .transactions_subhead {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0 2rem 1rem;

            @media screen and (min-width: 800px) {
                flex-direction: row;
                justify-content: space-between;
                margin-left: 3rem;
                margin-right: 3rem;
            }

            .formHead{
                
            }

            .earningsFlex{
                display: block;
        
                .flexHead{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                    margin: 2rem;
                    
                    @media screen and (min-width: 1000px) {
                        margin: 0rem;
                    }
        
                    .flexItem{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 7rem;
                        border-radius: 20px;
                        
                        @media screen and (min-width: 768px) {
                            width: 12.75rem;
                        }
        
                        h3{
                            font-size: var(--fourty);
                            font-weight: 400;
                            line-height: 2rem;
                            letter-spacing: 0em;
                            text-align: center;  
                        }
        
                        p{
                            font-size: var(--fourteen);
                            font-weight: 400;
                            line-height: 1rem;
                            letter-spacing: 0em;
                            text-align: center;
                            
                        }
                    }
        
                    .blackFlex_Item{
                        background: var(--black);
                        box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.03);
                        h3{
                            color: var(--white);
                        }
                        
                        p{
                            color: var(--white);
                        }
                    }
        
                    .pinkFlex_Item{
                        background: var(--pink);
                        border: 1px solid #EBCCE9;
                        box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.03);
                    }
        
                    .greyFlex_Item{
                        background: #F2F2F2;
                        border: 1px solid #DFDFDF;
                        box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.1);
                    }
                }
            }
        }
    }
    
}