.clientProfile_Page {
    margin-bottom: 3rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 2rem;
    }

    .clientProfile_Section {
        margin: 0.5rem auto;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        .sectionTitle {
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            line-height: 1.75rem;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #dfdfdf;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        .backBtn {
            display: none;

            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                height: fit-content;
                margin: 1rem 0 2rem;
                background: none;
                outline: none;
                border: none;
                font-weight: 600;

                p {
                    color: #707070;
                }
            }
        }

        .clientProfile_Grid {
            width: 85%;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            align-content: center;
            margin-bottom: 6rem;

            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-gap: 3rem;
                margin-bottom: 0rem;
                width: 100%;
            }

            .gridItem {
                margin: 1rem 0;
            }
        }
    }

    .aboutHead {
        font-size: var(--thirtyEight);
        font-weight: 600;
        line-height: 1.75rem;

        @media screen and (min-width: 768px) {
            font-size: var(--twentyFour);
        }
    }
}
