.clientMobile__Header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    position: relative;
}

.clientDesktop__Header{
    display: none;
}


@media screen and (min-width: 768px) {
    .clientMobile__Header{
        display: none;
    }

    .clientDesktop__Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 3rem;
        position: relative;
    
        .navWrap{
            display: flex;
            align-items: center;
    
            .headBtn{
                height: 2.5rem;
                padding: .5rem 1rem;
                border: 1.5px solid var(--white);
                border-radius: 10px;
                background: none;
                color: var(--white);
                font-size: var(--sixteen);
                margin-right: 1.5rem;
                cursor: pointer;
            }
    
            .navItems{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border: 1.5px solid var(--white);
                border-radius: 2rem;
                padding: 0.35rem 1rem;
                width: 7.5rem;
    
                .profileIcon{
                    width: 2rem;
                    height: 2rem;
                    display: block;
                    border-radius: 50%;
                    background-color: var(--grey);
                }
            }

            .navList{
                display: none;
                width: 10rem;
                position: absolute;
                z-index: 1;
                top: 100%;
                right: 5%;
                background: var(--white);
                border-radius: 2px;
                animation: animate .3s ;
        
                .navItem{
                    padding: .75rem 1rem;
                    display: inline-flex;
                    align-items: center;
        
                    &:hover{
                        background-color: #DEDEDE;
                    }

                    .navLink{ 
                        font-size: var(--eighteen);
                    }

                    .alert{
                        color: red;
                        font-weight: 600;
                        margin-left: .5rem;
                        font-size: var(--eighteen);
                   }
                }
        
                hr{
                    border: none;
                    background-color: #DEDEDE;
                    height: 1px;
                    width: 100%;
                    margin: .75rem 0;
                }
            }
        
            .show{
                display: flex;
                flex-direction: column;
            }
        
            @keyframes animate {
                from {
                    transform: scale(0.5);
                  }
                  to {
                    transform: scale(1);
                  }
            }
    
        }
    }
}

