.clientBookings {
    margin-bottom: 5rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 2rem;
    }

    .clientBookings_Section {
        width: 90%;
        margin: .5rem auto;

        .backBtn {
            display: flex;
            align-items: center;

            p {
                color: #707070;
            }
        }

        .sectionHead {
            text-align: center;

            .sectionTitle {
                font-size: var(--fourty);
                margin-bottom: 1rem;
                font-weight: 500;

                @media screen and (min-width: 768px) {
                    font-size: var(--twentyFour);
                }
            }
        }

        .sectionTabs {

            .tabHead {
                display: flex;
                justify-content: center;
                border-bottom: 1.5px solid #dfdfdf;
                margin: 0 auto;
                width: 100%;

                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;
                    width: 80%;
                }

                .tab {
                    font-size: var(--twenty);
                    color: var(--grey);
                    font-weight: 500;
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    border-bottom: 1.5px solid transparent;
                    transition: all 0.3s ease-in-out;
                    text-align: center;
                    width: 50%;

                    @media screen and (min-width: 768px) {
                        width: 14rem;
                    }
                }

                .active {
                    color: var(--black);
                    border-bottom: 1.5px solid var(--black);
                }
            }

            .tabFlex {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                margin: 0 auto;

                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 80%;
                    margin: 0 auto;
                    place-items: center;
                    align-items: start;
                }

                .activeTab {
                    display: flex !important;

                    @media screen and (min-width: 768px) {
                        display: block;
                        opacity: 1 !important;
                    }
                }

                .mappedTabs {
                    display: none;
                    flex-direction: column;
                    margin-top: 2rem;

                    @media screen and (min-width: 768px) {
                        display: block;
                        opacity: 0;
                    }
                }

                //No past Bookings
                .noPastBooking {
                    display: none;
                    margin-top: 2rem;
                    flex-direction: column;
                    align-items: center;

                    @media screen and (min-width: 768px) {
                        display: flex;
                        opacity: 0;
                    }

                    .calendarIcon {
                        width: 5rem;
                        height: 4.625rem;
                        border: 1px solid #dedddd;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                    }

                    .noBookingText {
                        font-size: var(--twentyTwo);
                        font-weight: 700;
                        margin-top: 1rem;
                        text-align: center;
                    }

                    .btn-secondary{
                        width: 14.75rem;
                        height: 2.75rem;
                        text-align: center;
                        background: var(--black);
                        color: var(--white);
                        font-weight: 400;
                        margin-top: 1rem;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
