.clientBookings {
    margin-bottom: 5rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 2rem;
    }

    .backBtn {
        display: flex;
        align-items: center;

        p {
            color: #707070;
        }
    }

    .clientBookings_Section {
        .sectionHead {
            text-align: center;

            .sectionTitle {
                font-size: var(--fourty);
                margin-bottom: 1rem;
                font-weight: 500;

                @media screen and (min-width: 768px) {
                    font-size: var(--thirtyTwo);
                }
            }
        }

        .sectionTabs {
            .tabHead {
                display: flex;
                justify-content: center;
                border-bottom: 1.5px solid #dfdfdf;
                margin: 0 auto;
                width: 100%;

                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;
                    width: 80%;
                }

                .tab {
                    font-size: var(--twenty);
                    color: var(--grey);
                    font-weight: 500;
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    border-bottom: 1.5px solid transparent;
                    transition: all 0.3s ease-in-out;
                    text-align: center;
                    width: 50%;

                    @media screen and (min-width: 768px) {
                        width: 14rem;
                    }
                }

                .active {
                    color: var(--black);
                    border-bottom: 1.5px solid var(--black);
                }
            }

            .tabFlex {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                margin: 0 auto;

                @media screen and (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 80%;
                    margin: 0 auto;
                    place-items: center;
                    align-items: start;
                }

                .activeTab {
                    display: flex !important;

                    @media screen and (min-width: 768px) {
                        display: block;
                        opacity: 1 !important;
                    }
                }

                .mappedTabs {
                    display: none;
                    flex-direction: column;
                    margin-top: 2rem;

                    @media screen and (min-width: 768px) {
                        display: block;
                        opacity: 0;
                    }

                    .serviceCard {
                        width: 18rem;
                        height: 9rem;
                        display: flex;
                        background: var(--white);
                        border: 1px solid #dedddd;
                        border-radius: 9px;
                        margin-bottom: 1.5rem;

                        .bar {
                            width: 0.75rem;
                            height: 100%;
                            background: var(--hotPink);
                            border-radius: 10px 0px 0px 10px;
                        }

                        .card {
                            width: 100%;
                            padding: 0.75rem 1rem;

                            .cardHead {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .cardTitle {
                                    font-size: var(--eighteen);
                                    font-family: var(--font-text);
                                }
                            }

                            .cardTexts {
                                margin-top: 0.45rem;

                                .text {
                                    font-size: var(--fourteen);
                                    line-height: 0.9rem;
                                }
                            }

                            .cardButtons {
                                display: flex;
                                justify-content: space-between;
                                margin-top: 0.75rem;

                                .accept {
                                    width: 7rem;
                                    height: 1.75rem;
                                    text-align: center;
                                    background: #c5e9d3;
                                    border-radius: 5px;
                                    border: none;
                                    outline: none;
                                    transition: all 0.5s;
                                    color: var(--black);

                                    &:hover {
                                        transform: scale(0.95, 0.95);
                                        background: #7deaa7;
                                    }
                                }

                                .decline {
                                    width: 7rem;
                                    height: 1.75rem;
                                    text-align: center;
                                    background: #f26a6a4d;
                                    border-radius: 5px;
                                    border: none;
                                    outline: none;
                                    transition: all 0.5s;
                                    color: var(--black);

                                    &:hover {
                                        transform: scale(0.95, 0.95);
                                        background: #fb404080;
                                    }
                                }
                            }
                        }
                    }
                }

                .noPastBooking {
                    display: none;
                    margin-top: 2rem;
                    flex-direction: column;
                    align-items: center;

                    @media screen and (min-width: 768px) {
                        display: flex;
                        opacity: 0;
                    }

                    .calendarIcon {
                        width: 5rem;
                        height: 4.625rem;
                        border: 1px solid #dedddd;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                    }

                    .noBookingText {
                        font-size: var(--twentyTwo);
                        font-weight: 600;
                        margin-top: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
