.normalService {
    .dialogContent {
        background-color: var(--white);
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        border-radius: 10px;

        @media screen and (min-width: 500px) {
            border-radius: 12px;
            width: 29.75rem;
            height: fit-content;
        }

        .modalHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            border-radius: 10px 10px 0 0;
            background: #f2f2f2;

            h5 {
                font-size: var(--fourty);

                @media screen and (min-width: 900px) {
                    font-size: var(--twentyFour);
                }
            }

            .closeButton {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        .modalContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;

            @media screen and (min-width: 768px) {
                margin: 1rem 2rem 2rem;
            }

            .appointmentForm {
                display: flex;
                flex-direction: column;
                width: 100%;

                .selectDropdown {
                    border: none;
                    outline: none;
                    font-size: var(--sixteen);
                    width: 100%;
                    border-bottom: 1px solid #05020526;
                    padding: 1rem 0;
                    cursor: pointer;

                    .opt {
                        padding: 2rem;
                        border: 1px solid rgba(5, 2, 5, 0.15);
                        width: 100%;
                        color: var(--black);
                    }

                    .optButton {
                        .customService {
                            color: var(--black);
                            border: none;
                            outline: none;
                        }
                    }
                }

                .variants{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: 0.5rem 0 0;

                    .variantDropdown{
                        width: 48%;
                        margin: 1rem 0;
                        outline: none;
                        padding: .75rem;
                        border: 1px solid #E0E0E0;
                        border-radius: 5px;
                        font-size: var(--sixteen);
                    }
                }

                .selectDate {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    .HiOutlineCalendar {
                        margin-right: 1.25rem;
                        width: 2rem;
                        height: 2rem;
                    }

                    .select {
                        border: none;
                        outline: none;
                        font-size: var(--sixteen);
                        width: 100%;
                        background: #f2f2f2;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: left;
                        padding: 0.75rem;
                        transition: all 0.5s;
                        color: var(--black);

                        &:hover {
                            transform: scale(0.95, 0.95);
                        }
                    }
                }

                .selectTime {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    .AiOutlineClockCircle {
                        margin-right: 1.25rem;
                        width: 2rem;
                        height: 2rem;
                    }

                    .bar {
                        width: 2%;
                        height: 2px;
                        background-color: var(--black);
                        margin: 0 0.35rem;

                        @media screen and (min-width: 768px) {
                            margin: 0 2rem;
                        }
                    }

                    .select {
                        border: none;
                        outline: none;
                        font-size: var(--sixteen);
                        width: 45%;
                        background: #f2f2f2;
                        border-radius: 5px;
                        text-align: left;
                        padding: 0.75rem;
                        transition: all 0.5s;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--black);
                    }
                }

                .clientDetails {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;

                    img {
                        margin-right: 1rem;
                    }

                    .select {
                        width: 100%;
                        padding: 0.75rem;
                        outline: none;
                        font-size: var(--sixteen);
                        cursor: pointer;
                        color: #bebebe;
                        background: #ffffff;
                        text-align: left;
                        border: 1px solid #f2f2f2;
                        border-radius: 5px;
                        transition: 0.3s all;

                        &:hover {
                            transform: scale(0.95, 0.95);
                        }
                    }
                }

                .saveBtn {
                    width: 8rem;
                    height: 2.5rem;
                    padding: 0.75rem;
                    text-align: center;
                    color: var(--white);
                    background-color: var(--black);
                    border: none;
                    border-radius: 0.5625rem;
                    z-index: 1;
                    cursor: pointer;
                    margin: 0 auto;
                    font-size: var(--sixteen);
                    transition: 0.3s all;
                    margin-right: 0%;
                    margin-left: auto;
                    margin-top: 4rem;

                    &:hover {
                        transform: scale(0.95, 0.95);
                        background-color: var(--black);
                    }
                }
            }
        }
    }
}
