.listingTitle{
    margin: 2rem;

    .title{
        font-size: var(--fourty);
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .titleButtons{
        display: flex;

        .btnPrimary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1rem;
            background: var(--white);
            color: var(--black);
            font-size: var(--eighteen);
            padding: 0.5rem 1rem;
            border: 1px solid var(--black);
            border-radius: 5px;
        }
    }
}

//Listings scss
.listings{
    display: block;

    .listing{
        display: flex;

        .listingsWrap{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1rem;
            margin-bottom: 1rem;
            background: var(--white);
            border: 1px solid #E0E0E0;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            border-radius: 10px;
    
            .profileImage{
                width: 13.75rem;
                height: 13.125rem;
    
                img{
                    object-fit: cover;
                }
            }
    
            .listingInfo{
                .title{
                    font-size: var(--twentyEight);
                }
                .ratingReviews{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
    
                    .rating{
                        font-size: var(--twenty);
                        font-weight: 600;
                    }
    
                    .reviews{
                        font-size: var(--sixteen);
                        color: #707070;
                    }
                }
    
                .location{
                    color: #707070;
                }
    
                .tags{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 1rem;
    
                    .tag{
                        font-size: var(--twelve);
                        padding: .5rem;
                        background: #EBCCE9;
                        border-radius: 5px;
                        margin-right: .75rem;
                    }
                }
    
                .services{
                    display: block;
    
                    .serviceTitle{
                        font-size: var(--fourteen);
                        font-weight: 400;
                        margin-bottom: .75rem;
                        color: var(--black);
                    }
    
                    .serviceLists{
                        font-size: var(--fourteen);
                        color: #707070;
                    }
                }
            }
        }
        
        .like{
            margin-left: .75rem;
        }
    }

}