.listingTitle{
    margin: 2rem;

    .title{
        font-size: var(--fourty);
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .titleButtons{
        display: flex;

        .btnPrimary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 1rem;
            background: var(--white);
            color: var(--black);
            font-size: var(--eighteen);
            padding: 0.5rem 1rem;
            border: 1px solid var(--black);
            border-radius: 5px;
        }
    }
}