.listingTitle{
    margin: 1rem;
    @media screen and (min-width: 768px) {
        margin: 2rem;
    }

    .title{
        font-size: var(--fourty);
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .titleButtons{
        display: flex;

        .btnPrimary{
            display: flex;
            align-items: center;
            font-size: var(--twelve);
            padding: 0.5rem;
            margin-right: 0.35rem;
            background: var(--white);
            color: var(--black);
            border: 1px solid var(--black);
            border-radius: 5px;

            .icon{
                margin-right: 0.5rem;

                @media screen and (min-width: 768px) {
                    margin-right: 1rem;
                
                }
            }
            
            @media screen and (min-width: 768px) {
                justify-content: space-between;
                padding: 0.5rem 1rem;
                margin-right: 1rem;
                font-size: var(--eighteen);
            }
        }
    }
}

.listingFlex{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    
    .map{
        width: 100%;
        margin: auto;
        height: 100vh;
        background: var(--grey);
        margin-bottom: 5rem;
        
        @media screen and (min-width: 768px) {
            width: 55%;
            margin: 0;
            margin-bottom: 3rem;
        }
    }
}


//Listings scss
.listings{
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
        max-width: 35rem;
    
        .listing{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1rem;
            margin-bottom: 1rem;
            background: var(--white);
            border: 1px solid #E0E0E0;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
            border-radius: 10px;
    
            .listingsWrap{
                display: flex;
                width: 29rem;
                display: flex;
                justify-content: space-between;
                
                .profileImage{
                    width: 13.75rem;
                    height: 13.125rem;
                    background-color: var(--greyPro);
                    
        border-radius: 10px;

                    img{
                        object-fit: cover;
                    }
                }
                
                .listingInfo{
                    margin-top: 1rem;
                    .title{
                        font-size: var(--twentyEight);
                        margin-bottom: .5rem;
                    }
                    .ratingReviews{
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;
        
                        .rating{
                            font-family: var(--font-head);
                            font-size: var(--twenty);
                            font-weight: 600;
                            margin-right: .5rem;
                        }
        
                        .reviews{
                            font-size: var(--sixteen);
                            color: #707070;
                        }
                    }
        
                    .location{
                        color: #707070;
                    }
        
                    .tags{
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: .5rem;
        
                        .tag{
                            font-size: var(--twelve);
                            padding: 0 .5rem;
                            background: #EBCCE9;
                            border-radius: 5px;
                            margin-right: .75rem;
                        }
                    }
        
                    .services{
                        display: block;
        
                        .serviceTitle{
                            font-size: var(--fourteen);
                            font-weight: 400;
                            margin-bottom: .25rem;
                            color: var(--black);
                        }
        
                        .serviceLists{
                            font-size: var(--fourteen);
                            color: #707070;
                            max-width: 14rem;
                        }
                    }
                }
            }
    
            .like{
                margin-left: .75rem;
            }
        }
    
    }
    
}