//Appointment Section
.manageBookings{

    .appointmentSection {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem;
        border: none;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 10rem 1fr 15rem;
            align-items: center;
            padding: 1rem 2rem;
            border: none;
            padding: 2rem 2rem 1rem;
        }
    
        .backBtn {
            border: none;
            background: none;
            outline: none;
            padding: 0 0.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            margin-bottom: 0;
    
            @media screen and (min-width: 768px) {
                margin-bottom: 1rem;
                margin-top: 0;
            }
    
            p {
                margin-left: 0.35rem;
            }
        }
    
        .searchWrap {
            display: block;
            margin: 0;
    
            .searchBar {
                display: none;
            }
    
            .searchButton {
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
            }
    
            @media screen and (min-width: 768px) {
                display: block;
                margin-bottom: 1rem;
                margin-right: 1rem;
                margin-left: 1rem;
    
                .searchButton {
                    display: none;
                }
    
                .searchBar {
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    background: #fbfbfb;
                    border: 1px solid #dfdfdf;
                    border-radius: 10px;
                    padding: 0.5rem 0.75rem;
                    cursor: text;
    
                    .searchInput {
                        height: 2.5rem;
                        padding: 0 1rem;
                        outline: none;
                        font-size: var(--sixteen);
                        color: var(--black);
                        border: none;
                        outline: none;
                        background: none;
                        margin-left: 1rem;
                        position: absolute;
    
                        &::placeholder {
                            color: #bebebe;
                        }
                    }
                }
    
                .searchBtn {
                    display: block;
                    border: none;
                    background: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    
        .createBtn {
            display: none;
    
            @media screen and (min-width: 768px) {
                display: flex;
                align-items: center;
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.5rem;
                color: var(--white);
                background: var(--hotPink);
                font-size: var(--eighteen);
                margin-bottom: 1rem;
                margin-left: 1rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                border-radius: 10px;
                transition: all 0.5s;
    
                &:hover {
                    transform: scale(0.95, 0.95);
                }
            }
        }
    }
}

//Manage Booking Section
.manageBookings_Section {
    margin: 1rem;
    margin-bottom: 5rem;

    @media screen and (min-width: 768px) {
        margin: 2rem;
    }

    .sectionHead {
        text-align: center;

        .sectionTitle {
            font-size: var(--fourty);
            margin-bottom: 1rem;
            font-weight: 500;

            @media screen and (min-width: 768px) {
                font-size: var(--thirtyTwo);
            }
        }
    }

    .sectionTabs {
        .tabHead {
            display: flex;
            justify-content: center;
            border-bottom: 1.5px solid #dfdfdf;
            margin: 0 auto;
            width: 100%;

            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                width: 80%;
            }

            .tab {
                font-size: var(--twenty);
                color: var(--grey);
                font-weight: 500;
                cursor: pointer;
                padding: 0.5rem 1rem;
                border-bottom: 1.5px solid transparent;
                transition: all 0.3s ease-in-out;
                text-align: center;
                width: 50%;

                @media screen and (min-width: 768px) {
                    width: 14rem;
                }
            }

            .active {
                color: var(--black);
                border-bottom: 1.5px solid var(--black);
            }
        }

        .tabFlex {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            margin: 0 auto;

            @media screen and (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 80%;
                margin: 0 auto;                 
                place-items: center;
                align-items: start;
            }

            .activeTab {
                display: flex !important;

                @media screen and (min-width: 768px) {
                    display: block;
                    opacity: 1 !important;
                }
            }

            .mappedTabs {
                display: none;
                flex-direction: column;
                margin-top: 2rem;

                @media screen and (min-width: 768px) {
                    display: block;
                    opacity: 0;
                }

                .serviceCard {
                    width: 18rem;
                    height: 9rem;
                    display: flex;
                    background: var(--white);
                    border: 1px solid #dedddd;
                    border-radius: 9px;
                    margin-bottom: 1.5rem;

                    .bar {
                        width: 0.75rem;
                        height: 100%;
                        background: var(--hotPink);
                        border-radius: 10px 0px 0px 10px;
                    }

                    .card {
                        width: 100%;
                        padding: 0.75rem 1rem;

                        .cardHead {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .cardTitle {
                                font-size: var(--eighteen);
                                font-family: var(--font-text);
                            }
                        }

                        .cardTexts {
                            margin-top: 0.45rem;

                            .text {
                                font-size: var(--fourteen);
                                line-height: 0.9rem;
                            }
                        }

                        .cardButtons {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 0.75rem;

                            .accept {
                                width: 7rem;
                                height: 1.75rem;
                                text-align: center;
                                background: #c5e9d3;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                transition: all 0.5s;
                                color: var(--black);

                                &:hover {
                                    transform: scale(0.95, 0.95);
                                    background: #7deaa7;
                                }
                            }

                            .decline {
                                width: 7rem;
                                height: 1.75rem;
                                text-align: center;
                                background: #f26a6a4d;
                                border-radius: 5px;
                                border: none;
                                outline: none;
                                transition: all 0.5s;
                                color: var(--black);

                                &:hover {
                                    transform: scale(0.95, 0.95);
                                    background: #fb404080;
                                }
                            }
                        }
                    }
                }
            }

            .noPastBooking {
                display: none;
                margin-top: 2rem;
                flex-direction: column;
                align-items: center;

                @media screen and (min-width: 768px) {
                    display: flex;
                    opacity: 0;
                }

                .calendarIcon {
                    width: 5rem;
                    height: 4.625rem;
                    border: 1px solid #dedddd;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                }

                .noBookingText {
                    font-size: var(--twentyTwo);
                    font-weight: 600;
                    margin-top: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

//Decline Appointment
.declineAppointment {
    position: fixed;
    z-index: 300;

    .declineContent {
        display: grid;
        background-color: var(--white);
        width: 90%;
        height: 14rem;
        margin: 0 auto;
        border-radius: 12px;

        @media screen and (min-width: 500px) {
            width: 21.875rem;
            height: 13rem;
        }

        .dialogHeader {
            display: grid;
            place-items: center;
        }

        .dialogBody {
            display: block;
            text-align: center;
            padding: 0 1rem;

            p {
                font-size: var(--twenty);
                font-weight: 500;
            }
        }

        .dialogFooter {
            display: block;
            text-align: center;
            margin: 0rem auto 1rem;

            .btn-primary {
                background-color: #893583;
                color: var(--white);
                border: none;
                width: 8rem;
                transition: 0.5s all;

                &:hover {
                    transform: scale(0.95, 0.95);
                }
            }

            .btn-secondary {
                background-color: var(--white);
                color: var(--black);
                border: 1.5px solid #bebebe;
                width: 8rem;
                margin-right: 1rem;
                transition: 0.5s all;

                &:hover {
                    transform: scale(0.95, 0.95);
                }

                @media screen and (min-width: 768px) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}
