.stepTwo {
    display: block;

    .stepTwo_Body {
        padding: 1rem;

        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }

    .flexItems {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: 768px) {
            display: grid;
            height: 100vh;
            grid-template-columns: 55% 35%;
            gap: 10%;
            grid-template-rows: auto;
            align-items: flex-start;
        }

        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 52% 24rem;
            gap: 10%;
            grid-template-rows: auto;
            align-items: flex-start;
            justify-content: space-between;
        }

        .itemOne {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 3rem;

            @media screen and (min-width: 768px) {
                padding: 1rem 2rem;
                margin-bottom: 1rem;
            }

            .backBtn {
                margin: 1rem 0;
                background: none;
                display: flex;
                outline: none;
                border: none;
                font-weight: 600;
                height: fit-content;
            }

            .head {
                margin-top: 2rem;

                .stylistProfile {
                    display: flex;
                    align-items: center;

                    .profilePicture {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        margin-right: 1rem;
                    }
                }

                p {
                    font-size: var(--twenty);
                    color: var(--black);
                    margin-top: 0.75rem;
                }
            }

            .body {
                .calendarContainer {
                    margin-top: 2rem;

                    .react-calendar {
                        width: 100%;
                        border: none;

                        .react-calendar__navigation {
                            span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
                                font-size: var(--eighteen);
                                font-weight: 700;
                                font-family: var(--font-text);
                            }
                        }

                        .react-calendar__tile {
                            max-width: 100%;
                            color: var(--black);
                            border: 1px solid #dfdfdf !important;
                            text-align: center;
                            line-height: 16px;
                            width: 70px;
                            font-size: var(--twelve);
                            height: 70px;
                        }

                        .react-calendar__tile--active {
                            background-color: #ebcce9;
                        }

                        .react-calendar__tile--now {
                            background-color: #ebcce9;
                        }
                    }
                }
            }
        }

        .itemTwo {
            display: block;
            background: #fffbff;
            border-radius: 10px;
            background-position: top;
            border: 1.5px solid #c984c2;
            margin-bottom: 5rem;
            

            @media screen and (min-width: 768px) {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                background: #fffbff;
                border-radius: 0;
                background-position: top;
                border: none;
                border-left: 1.5px solid #c984c2;
            }

            .cart {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 768px) {
                    margin-top: 8rem;
                }

                .head {
                    width: 90%;
                    p {
                        text-align: left;
                    }
                }

                .body {
                    width: 90%;
                    margin-top: 1.5rem;

                    .cartItem {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        margin-bottom: 0.5rem;
                        width: 100%;

                        .item {
                            display: block;

                            .service {
                                font-weight: 600;
                            }

                            .variant {
                                font-size: var(--sixteen);
                                font-style: italic;
                                color: var(--black);
                                margin: 0;
                                text-decoration-line: underline;
                            }
                        }

                        .totalPrice {
                            margin-top: 0;
                        }
                    }

                    .subTotal {
                        display: grid;
                        place-items: center;
                        margin-bottom: 1rem;

                        hr {
                            background: var(--black);
                            width: 100%;
                            margin: 10px 0;
                            border: none;
                            height: 1.5px;
                        }

                        .priceList {
                            width: 100%;

                            .info {
                                font-weight: 600;
                                font-size: var(--fourteen);
                                font-style: italic;
                                margin-bottom: 1rem;
                            }

                            .list {
                                display: flex;
                                align-items: flex-start;
                                justify-content: space-between;
                                width: 100%;
                                position: relative;

                                input {
                                    position: absolute;
                                    z-index: 1;
                                    width: 1.25rem;
                                    height: 1.125rem;
                                    opacity: 0;
                                }

                                .checkbox {
                                    width: 1.5rem;
                                    height: 1.125rem;
                                    border: 2px solid #050205;
                                    border-radius: 3px;
                                    margin-right: 0.5rem;
                                }

                                input:checked ~ .checkbox {
                                    background: var(--black);
                                }

                                input:checked ~ .checkbox::after {
                                    content: "\2714";
                                    font-size: 12px;
                                    color: var(--white);
                                    position: relative;
                                    z-index: 0;
                                    top: -3.5px;
                                    left: 2.5px;
                                }

                                .terms {
                                    span {
                                        color: #3789db;
                                        text-decoration: underline;
                                    }
                                    .link {
                                        color: #3789db;
                                        text-decoration: underline;
                                        background: none;
                                        border: none;
                                        outline: none;
                                        margin-left: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }

                .checkout {
                    width: 100%;
                    background: #dedddd;
                    border-radius: 10px;
                    color: var(--black);
                    text-transform: capitalize;
                    margin: 2rem auto 1rem;
                    padding: 0.75rem;
                    border: none;
                    outline: none;
                }

            }
        }
    }
}
