//--------------- [_Header] -------------
ul {
    li {
        list-style: none;
    }
}

.mobileDisplay {
    background-color: var(--purple);
    position: relative;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(0px);
    transition: transform 0.6s ease;
    

    .logo {
        display: flex;
        text-align: center;
    }
    
    .logo2{
        display: none;
    } 
    
    .navHeader {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 1rem;
    }
    
    .logo {
        display: flex;
        margin: 0 auto;
        width: 5.9rem;
    }
    
    .navWrap {
        #Vector{
            &:hover{
                fill: var(--black);
                stroke: var(--black);
            }

            &:focus{
                fill: var(--black);
                stroke: var(--black);
            }
        }
        
        .navList {
            // display: none;
            width: 6rem;
            position: absolute;
            z-index: -1;
            display: none;
            top: 25%;
            right: 0;
            background: var(--white);
            border-radius: 2px;
            animation: animate .3s;
            padding-top: 2.5rem;
    
            .navItem {
                padding: .75rem 1rem;
                display: inline-flex;
                align-items: center;
    
                .navLink {
                    color: var(--black);
                    font-size: var(--eighteen);
                    font-weight: 500;
                }
    
                &:hover {
                    border: 1px solid var(--pink);
                    border-radius: 5px;
                    color: var(--pink);
                }

                @keyframes animate {
                    from {
                        transform: scale(0.5);
                      }
                      to {
                        transform: scale(1);
                      }
                }

                hr{
                    border: none;
                    background-color: #DEDEDE;
                    height: 1px;
                    width: 100%;
                    margin: .75rem 0;
                }
            }
        }

        .show{
            display: flex;
            flex-direction: column;
        }
    }
}

.desktopDisplay {
    display: none;
}

@media screen and (min-width: 768px) {
   .desktopDisplay{
        display: flex;
        padding: 2rem 3rem;
        background-color: var(--purple);

        .logo {
            display: flex;
        }
        
        .logo2{
            display: none;
        }   

        .header2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #EADAF0;
            position: fixed;
            top: -1px;
            left: 0;
            width: 100%;
            transform: translateY(0px);
            z-index: 100;
            padding: 1rem 5rem;
            transition: transform 4s ease;
            animation: myanimation 3s;
        
            .navbar {
                .navList {
                    display: flex;
                    justify-content: space-between;
                    width: 10rem;
                    .navItem{
                        .navLink{
                            color: var(--black);
                            font-size: var(--eighteen);
                        }
                    }
                }
            }
        
            .logo {
                display: none;
            }
            
            .logo2{
                display: flex;
            }
        }
        
        @keyframes myanimation {
            0% {
              background-color: var(--purple);
              color: var(--white);
            }
            15% {
              background-color: #EADAF0;
              color: var(--black);
            }
            100% {
              background-color: #EADAF0;
              color: var(--black);
            }
        }

        .navHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            width: 95%;
            margin: 0 auto;
            
            .navList {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 10rem;

                .navItem{
                    .navLink{
                        color: var(--white);
                        font-size: var(--eighteen);
                    }
                }
            }
        }
    
    }
    .mobileDisplay {
        display: none;
    }

    
}
