.aboutClient_Section{
    display: block;
    margin-top: 2rem;

    
    .address{
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        border-bottom: 1px solid #707070;
        padding-bottom: 1rem;
    }    

    .hairDetails{
        margin-top: 1rem;

        .details{
            display: flex;
            margin-top: 1rem;

            .rowSpan{
                display: block;
                text-align: center;

                .detailCircle{
                    height: 100px;
                    width: 100px;
                    padding: 2rem;
                    border: 1px solid #893583;
                    border-radius: 50%;
                }

                h5{
                    font-size: var(--sixteen);
                    line-height: 1.25rem;
                    margin-top: .5rem;
                }

                &:first-child{
                    margin-right: 2rem;
                }
            }
        }
    }
}