.dashboardHomepage{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .dashboardHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        background: #FCFCFC;
        border-bottom: 1px solid #EAEAEA;

        .logoutBtn{
            display: flex;
            align-items: center;
            background: none;
            border: none;
            outline: none;
            font-size: var(--eighteen);
            font-weight: 600;
            color: var(--black);
        }
    }

    .dashboardGrid{
        display: grid;
        grid-template-columns: 19.7rem 1fr;
        grid-gap: 2rem;
    }

    .dashboardRoutes{
        width: 100%;
        overflow-x: hidden;
    }
}

// Dashboard Menu
.dashboardMenu{
    background: #FAFAFA;
    height: 100vh;
    width: 19.7rem;

    .menuHead{
        display: flex;
        align-items: center;
        padding: 2rem;
        margin-bottom: 2rem;

        img{
            width: 3.125rem;
            height: 3.125rem;
            margin-right: 1rem;
        }

        .menuHead_Txt{
            display: block;

            p:first-child{
                font-size: var(--eighteen);
            }

            &:nth-child(2){
                font-size: var(--sixteen);
            }
        }
    }

    .menuItems{
        display: block;

        .menuList{
            display: block;
            width: 100%;
            
            .menuLink{
                display: flex;
                align-items: center;
                font-size: var(--eighteen);
                line-height: 1.25rem;
                padding: 1.5rem 3rem;
                border-bottom: 1px solid #DFDFDF;

                .icon{
                    margin-right: 1.5rem;
                    border: 1px solid black;
                    border-radius: 50%;
                    height: 2rem;
                    width: 2rem;
                    padding: .25rem;
                }
            }

            .activeLink{
                background: var(--hotPink) !important;
                color: var(--white) !important;

                .icon{
                    border: 1px solid white !important;
                    stroke: white !important;
                    fill: white !important;
                }
            }
        }
    }
}