.dashboardHomepage{
    .dashboardHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
    }

    .dashboardGrid[role="grid"]{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-gap: 2rem;

        .dashboardMenu{

            .menuHeader{
                display: flex;
                align-items: center;
                margin: 2rem;

                .menuHead_Txt{
                    display: block;
                }
            }
        }
    }
}