.locationFilled{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 10rem;
    
    @media screen and (min-width: 768px) {
        margin: 2rem;
    }
    
    .locationFilled_Head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}