.policyModal {
    .dialogContent {
        background-color: var(--white);
        width: 100%;
        height: 100%;
        margin: 0 auto;

        @media screen and (min-width: 500px) {
            border-radius: 12px;
            width: 90%;
            height: 90%;
        }

        @media screen and (min-width: 768px) {
            width: 80%;
            height: 80%;
            max-width: 37.375rem;
        }

        @media screen and (min-width: 800px) {
            height: 34.7rem;
            width: 60%;
        }

        .modalHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 10px 10px 0 0;
            background: #f2f2f2;

            .closeButton {
                background: none;
                border: none;
                outline: none;
                line-height: 0;
                margin: 0 0 0 auto;
                cursor: pointer;
            }
        }

        .modalContent {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 2rem 1rem;
            overflow-y: scroll;
            height: 90%;
            gap: 1rem;

            @media screen and (min-width: 768px) {
                padding: 2rem;
                gap: 0;
            }

            .title {
                font-size: 1.5rem;
                font-family: var(--font-text);

                @media screen and (min-width: 768px) {
                    font-size: var(--twentyFour);
                }
            }

            .listItems {
                .listItem {
                    margin-top: 1.5rem;
                }

                .lateFee {
                    width: 2.8rem;
                    height: 1.8125rem;
                    background: #d9d9d9;
                    border: none;
                    border-radius: 2px;
                    padding: 0.3rem;
                    outline: none;
                    margin: 0 0.35rem;
                    font-family: var(--font-text);
                    font-size: var(--eighteen);
                    font-weight: 700;
                    color: var(--black);
                    cursor: text;

                    &::placeholder {
                        font-size: var(--eighteen);
                        font-size: 700;
                        font-family: inherit;
                        color: var(--black);
                    }
                }
            }

            .colShow {
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;

                .colHead {
                    font-size: var(--eighteen);
                    font-family: var(--font-text);
                    font-weight: 700;
                    line-height: 1.4rem;
                }

                .colWrap {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 1rem;

                    .colList {
                        display: flex;
                        flex-direction: column;
                        margin-top: 1rem;


                        &:nth-last-of-type(4){
                            display: none;
                        }

                        @media screen and (min-width: 500px) {
                            &:nth-last-of-type(4){
                                display: none;
                            }
                        }
                        
                        &:nth-last-of-type(3){
                            :nth-last-of-type(2){
                                height: 18px;
                            }
                        }

                        &:nth-last-of-type(2){

                            :nth-last-of-type(2){
                                height: 18px;
                            }
                        }

                        &:nth-last-of-type(1){

                            :nth-last-of-type(2){
                                height: 18px;
                            }
                        }

                        .dot {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: var(--black);

                            &:first-of-type {
                                margin-top: 0.75rem;
                            }
                        }

                        .bar {
                            width: 1px;
                            height: 50px;
                            background: var(--black);
                            margin-left: 5.5px;
                        }

                        .text {
                            height: 38px;
                            font-size: var(--sixteen);
                            padding: 7px 0;

                            .lateFee {
                                width: 2.8rem;
                                height: 1.8125rem;
                                background: #d9d9d9;
                                border: none;
                                border-radius: 2px;
                                padding: 0.3rem;
                                margin: 0 0.5rem 0 0;
                                outline: none;
                                font-family: var(--font-text);
                                font-size: var(--eighteen);
                                font-weight: 700;
                                color: var(--black);
                                cursor: text;

                                &::placeholder {
                                    font-size: var(--eighteen);
                                    font-size: 700;
                                    font-family: inherit;
                                    color: var(--black);
                                }
                            }
                        }

                        .row {
                            height: 38px;
                            width: 100px;
                            display: flex;
                            border-radius: 10px;

                            @media screen and (min-width: 500px) {
                                width: 144px;
                            }

                            .serviceInput {
                                border: 1px solid #dedddd;
                                width: 40%;
                                border-radius: 10px 0px 0 10px;
                                padding: 6px;
                                font-family: var(--font-text);
                                font-size: var(--sixteen);
                                font-weight: 700;
                                color: var(--black);

                                &::placeholder {
                                    font-family: inherit;
                                    font-size: var(--sixteen);
                                    font-weight: 700;
                                    color: var(--black);
                                }

                                &:focus {
                                    outline: none;
                                }

                                @media screen and (min-width: 500px) {
                                    width: 30%;
                                }
                            }

                            .selectWrap {
                                width: 60%;
                                padding: 0px;
                                border-radius: 0px 10px 10px 0px;
                                border: 1px solid #dedddd;

                                @media screen and (min-width: 500px) {
                                    width: 70%;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }

                .additionalInfo {
                    font-size: var(--eighteen);
                }

                .textArea {
                    font-family: var(--font-text);
                    padding: 1rem;
                    background: #D9D9D9;
                    border: none;
                    outline: none;
                    margin-top: 0.75rem;
                    font-size: var(--eighteen);

                    &::placeholder {
                        font-size: var(--eighteen);
                        font-family: var(--font-text);
                    }
                }
            }

            .btn-primary {
                width: 7.5rem;
                background: var(--black);
                color: var(--white);
                margin-top: 2rem;
                margin-left: auto;
                margin-right: 4%;
                font-size: var(--sixteen);
                padding: 0.75rem;
            }
        }
    }
}
