.confirmPage {
    display: block;

    .confirmPage_Body {
        padding: 1rem;

        @media screen and (min-width: 768px) {
            padding: 1.5rem;
        }

        @media screen and (min-width: 768px) {
            padding: 2rem 3rem;
        }
    }

    .backBtn {
        margin: 1rem 0;
        background: none;
        display: flex;
        outline: none;
        border: none;
        font-weight: 600;
        height: fit-content;
    }

    .head {
        .confirmText {
            font-weight: 500;
            margin-bottom: 0.5rem;
            font-size: var(--twentyFour);

            .purpleText {
                color: #893583;
            }

            .greeting {
                color: #5e5e5e;
                font-size: var(--sixteen);
                margin-bottom: 2rem;
            }
        }
    }

    .flexItems {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;

        @media screen and (min-width: 900px) {
            flex-direction: row;
            align-items: flex-start;
        }

        .itemOne {
            width: 100%;
            margin-top: 1rem;

            .headText {
                font-weight: 400;
                margin-bottom: 2rem;
                letter-spacing: 1px;
                text-decoration: none;
            }

            @media screen and (min-width: 900px) {
                width: 50%;
            }

            .body {
                .bodyAppointment {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 2rem;

                    .appointmentList {
                        .list {
                            display: flex;
                            align-items: center;
                            margin-bottom: 1rem;

                            .ball {
                                width: 0.75rem;
                                height: 0.75rem;
                                border-radius: 50%;
                                background: var(--black);
                                margin-right: 1rem;
                            }

                            .head {
                                font-family: var(--font-text);
                                font-weight: 400;
                                margin-right: 2rem;
                            }

                            .text {
                                font-family: var(--font-text);
                                font-weight: 700;
                                text-decoration: none;
                                font-size: var(--twenty);
                            }
                        }
                    }
                }

                .buttonWrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    
                    @media screen and (min-width: 500px) {
                        justify-content: flex-starts;
                    }

                    @media screen and (min-width: 900px) {
                        margin-top: 2rem;
                    }

                    .btnPrimary {
                        width: 14rem;
                        display: inline;
                        height: 2.5rem;
                        padding: 0.75rem;
                        margin-top: 0.76rem;
                        background: var(--white);
                        color: var(--black);
                        border: 1px solid #050205;
                        border-radius: 10px;
                        outline: none;
                        font-weight: 500;
                        font-size: var(--sixteen);
                        cursor: pointer;
                        margin-right: 0;
                        
                        @media screen and (min-width: 500px) {
                            margin-right: 2rem;
                            
                        }
                    }
                }
            }
        }

        .itemTwo {
            display: block;
            margin: 3rem auto;
            width: 100%;

            @media screen and (min-width: 900px) {
                width: 30rem;
                margin: 0 1rem;
            }

            .cartWrap {
                background: #fffbff;
                height: fit-content;
                background-position: top;
                border: 1.5px solid #c984c2;
                border-radius: 1.25rem;

                @media screen and (min-width: 900px) {
                    margin: 0 1rem;
                }

                .cart {
                    height: 50%;
                    margin: 1.5rem 0;
                    display: grid;
                    place-items: center;
                    align-items: center;

                    .head {
                        width: 85%;
                        .headText {
                            text-align: left;
                            font-size: var(--twentyEight);
                            font-weight: 500;
                        }
                    }

                    .body {
                        width: 85%;
                        margin-top: 1.5rem;

                        .cartItem {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            margin-bottom: 0.5rem;
                            width: 100%;

                            .item {
                                display: block;

                                .service {
                                    font-weight: 600;
                                }

                                .variant {
                                    font-size: var(--sixteen);
                                    font-style: italic;
                                    color: var(--black);
                                    margin: 0;
                                    text-decoration-line: underline;
                                }
                            }

                            .totalPrice {
                                margin-top: 0;
                            }
                        }

                        .subTotal {
                            display: block;

                            .checkout {
                                width: 15rem;
                                background: var(--black);
                                border-radius: 10px;
                                color: var(--white);
                                text-transform: capitalize;
                                margin: 2rem auto 0;
                                padding: 0.75rem;
                                border: none;
                                outline: none;
                            }

                            .priceList {
                                margin-top: 1rem;
                                .info {
                                    font-weight: 600;
                                    font-size: var(--twelve);
                                    font-style: italic;
                                    margin-bottom: 1rem;
                                }

                                .list {
                                    display: flex;
                                    align-items: flex-start;
                                    justify-content: space-between;
                                    width: 100%;
                                    position: relative;

                                    input {
                                        position: absolute;
                                        z-index: 1;
                                        width: 1.25rem;
                                        height: 1.125rem;
                                        opacity: 0;
                                    }

                                    .checkbox {
                                        width: 1.5rem;
                                        height: 1.125rem;
                                        border: 2px solid #050205;
                                        border-radius: 3px;
                                        margin-right: 0.5rem;
                                    }

                                    input:checked ~ .checkbox {
                                        background: var(--black);
                                    }

                                    input:checked ~ .checkbox::after {
                                        content: "\2714";
                                        font-size: 12px;
                                        color: var(--white);
                                        position: relative;
                                        z-index: 0;
                                        top: -3.5px;
                                        left: 2.5px;
                                    }

                                    .terms {
                                        font-size: var(--sixteen);
                                        span {
                                            color: #3789db;
                                            text-decoration: underline;
                                        }
                                        .link {
                                            color: #3789db;
                                            text-decoration: underline;
                                            background: none;
                                            border: none;
                                            outline: none;
                                            margin-left: 0.5rem;
                                            font-size: var(--sixteen);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btnPrimary {
                width: 14rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.75rem;
                margin: 2rem auto 2rem;
                background: var(--white);
                color: var(--black);
                border: 1px solid #050205;
                border-radius: 10px;
                outline: none;
                font-weight: 500;
                font-size: var(--sixteen);
                cursor: pointer;
                
                @media screen and (min-width: 900px) {
                    margin-right: 1rem;
                    margin-left: auto;
                }
            }
        }
    }
}
