.adminClient_Profile {
    .wd_80 {
        .adminClient_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;

            @media screen and (min-width: 800px) {
                margin: 2rem 3rem 1rem;
            }

            .previousButton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                background: none;
                outline: none;
            }
        }

        .adminClient_subhead {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0 2rem 1rem;

            @media screen and (min-width: 800px) {
                flex-direction: row;
                justify-content: space-between;
                margin-left: 3rem;
                margin-right: 3rem;
            }

            .subHead {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0rem;
                font-size: var(--eighteen);
                padding-bottom: 1rem;

                @media screen and (min-width: 800px) {
                    align-items: center;
                    flex-direction: row;
                    margin: 1.5rem 0 0.75rem;
                }

                .formHead {
                    display: flex;
                    align-items: center;
                    font-family: var(--font-head);
                    font-size: var(--thirtyEight);
                    font-weight: 600;
                    margin-bottom: 1rem;
                    line-height: 38px;

                    @media screen and (min-width: 800px) {
                        font-size: var(--twentyEight);
                        font-weight: 500;
                        margin: 0 0;
                    }
                }
            }
        }
        hr{
            border: 0;
            border-bottom: 1px solid #f2f2f2;
        }
    }

    .clientProfile_Grid{
        display: grid;
        grid-template-columns: 342px 1fr;
        margin: 2rem;
        gap: 2rem;

        .clientDetails{
            height: 735px;
            border-radius: 20px;
            background: #F8F2F6;
            border: 1px solid #D8BCD6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .clientImg{
                width: 6rem;
                height: 6rem;
                border: 1px solid #f2e8f1;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            .clientName {
                font-size: var(--twentyTwo);
                line-height: 1.625rem;
                margin-bottom: 1rem;
            }

            .chat {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 13rem;
                height: 2.5rem;
                border-radius: 5px;
                font-size: var(--sixteen);
                margin-bottom: 2rem;
                background: var(--white);
                color: var(--black);
                border: 1px solid #050205;
                border-radius: 9px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .add{
                width: 16rem;
                height: 2.5rem;
                border-radius: 5px;
                font-size: var(--sixteen);
                margin-bottom: 1rem;
                background: var(--black);
                color: var(--white);
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-bottom: 1rem;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .hairTexture{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 2rem;

                .texture{
                    display: grid;
                    place-items: center;
                    width: 100%;

                    .textureCircle{
                        width: 8rem;
                        height: 8rem;
                        border: 1px solid #D8BCD6;
                        border-radius: 50%;
                        padding: 1.5rem;
                        background: transparent;
                        margin-bottom: .5rem;
                    }

                    .hairName{
                        font-size: var(--sixteen);
                        font-weight: 600;
                        line-height: 1.25rem;
                        margin-bottom: .5rem;
                    }
                    
                    .textureName{
                        font-family: Karla;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.25rem;
                    }

                }
            }

        }

        .clientAppointments{
            display: block;

            .flexHead{
                display: flex;
                justify-content: space-evenly;

                .flexItem{
                    height: 111px;
                    width: 204.00558471679688px;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3{
                        font-family: Roboto;
                        font-size: var(--fourty);
                        font-weight: 400;
                        line-height: 2rem;
                        letter-spacing: 0em;
                        text-align: center;  
                    }

                    p{
                        font-size: var(--fourteen);
                        font-weight: 400;
                        line-height: 1rem;
                        letter-spacing: 0em;
                        text-align: center;
                        
                    }
                }

                .blackFlex_Item{
                    background: var(--black);
                    
                    h3{
                                              
                        color: var(--white);
                        // margin-bottom: .5rem;
                    }
                    
                    p{
                        color: var(--white);
                    }
                }

                .borderFlex_Item{
                    background: var(--white);
                    border: 1px solid #DFDFDF;
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.1);
                }

                .greyFlex_Item{
                    background: #F2F2F2;
                    border: 1px solid #DFDFDF;
                    box-shadow: 0px 4px 4px rgba(124, 124, 124, 0.1);
                }
            }

            .appointmentTable{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;

                .appointmentTable_Head{
                    font-size: var(--twentyFour);
                    font-weight: 500;
                    line-height: 29px;
                    text-align: left;
                }

                .tableBody{
                    padding: 1rem;
                    margin-top: 2rem;

                    .tableHead{
                        font-size: var(--sixteen);
                        font-weight: 400;
                        line-height: 1.25rem;
                        letter-spacing: 0em;
                        text-align: center;
                        height: 3rem; 
                        background: #F2F2F2;
                    }

                    .tableRow{
                        height: 4rem;

                        .tableData{
                            text-align: center;
                            border-bottom: 1px solid #F2F2F2;
                        }

                        .completedStatus{
                            background: #C5E9D3;
                            border-radius: 5px;
                            text-align: center;
                            height: 2rem;
                            margin: 0 .5rem;
                            border-bottom: 1px solid #F2F2F2;
                            color: var(--black);
                        }

                        .cancelledStatus{
                            background: rgba(242, 106, 106, 0.1);
                            border-radius: 5px;
                            color: #F26A6A;
                            text-align: center;
                            height: 2rem;
                            border-bottom: 1px solid #F2F2F2;
                        }
                    }
                }
            }
        }   
    }

}