.stylistAdmin_Home{
    .adminHead_Text{
        display: block;
        padding: 2rem;
        
        h5{
            font-size: var(--thirtyTwo);
        }

        .stylistName{
            margin-top: .5rem;
        }
    }

    .adminMenu_items{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        .menuItem{
            width: 320px;
            height: 228px;
            display: block;
            background: #FFFFFF;
            border: 1px solid #F2F2F2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
            border-radius: 20px;
            padding: 2rem 1rem;
        }
    }

}