.stylistAdmin_Home{
    .adminHead_Text{
        display: block;
        padding: 2rem;
        
        h5{
            font-size: var(--thirtyTwo);
        }

        .stylistName{
            margin-top: .5rem;
        }
    }

    .adminMenu_items{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        
    }

}