.upcomingBookings{
    background: #FAFAFA;
    padding: 1rem;

    @media screen and (min-width: 768px) {
        padding: 1rem 2rem;
    }

    .upcomingHeader{
        margin-bottom: 1rem;

        .upcomingHead{
            font-size: var(--twenty);
            margin-bottom: .5rem;
        }
    
        .subHead{
            text-decoration: underline;
        }
    }

    .mappedServices{
        display: block;

        .serviceCard{
            width: 18rem;
            height: 9rem;
            display: flex;
            background: var(--white);
            border: 1px solid #DEDDDD;
            border-radius: 9px;
            margin-bottom: 1rem;

            .bar{
                width: .75rem;
                height: 100%;
                background: var(--hotPink);
                border-radius: 10px 0px 0px 10px;
            }

            .card{
                width: 100%;
                padding: .75rem 1rem;

                .cardHead{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .cardTitle{
                        font-size: var(--eighteen);
                        font-family: var(--font-text);
                    }
                }

                .cardTexts{
                    margin-top: .45rem;

                    .text{
                        font-size: var(--fourteen);
                        line-height: .9rem;
                    }
                }

                .cardButtons{
                    display: flex;
                    justify-content: space-between;
                    margin-top: .75rem;

                    .accept{
                        width: 7rem;
                        height: 1.75rem;
                        text-align: center;
                        background: #C5E9D3;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        color: var(--black);

                        &:hover{
                            background: #7deaa7;
                        }
                    }
                    
                    .decline{
                        width: 7rem;
                        height: 1.75rem;
                        text-align: center;
                        background: #F26A6A4D;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        color: var(--black);
                        
                        &:hover{
                            background: #fb404080;
                        }
                    }
                }
            }
        }
    }

    .noPastBooking {
        display: none;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 768px) {
            display: flex;
            opacity: 0;
        }

        .calendarIcon {
            width: 5rem;
            height: 4.625rem;
            border: 1px solid #dedddd;
            border-radius: 50%;
            display: grid;
            place-items: center;
        }

        .noBookingText {
            font-size: var(--twentyTwo);
            font-weight: 600;
            margin-top: 1rem;
            text-align: center;
        }
    }
}