.infoWrap {

    .dialogContent {
        background-color: var(--white);
        width: 95%;
        height: fit-content;
        margin: 0 auto;
        border-radius: 10px;

        @media screen and (min-width: 500px) {
            border-radius: 12px;
            width: 29.75rem;
            height: 26.625rem;
        }
        
        .modalHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 10px 10px 0 0;
            background: #f2f2f2;

            h5 {
                font-size: var(--fourty);

                @media screen and (min-width: 900px) {
                    font-size: var(--twentyFour);
                }
            }

            .closeButton {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }

        .modalContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;

            @media screen and (min-width: 768px) {
                margin: 1rem 2rem;
            }

            .infoForm {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 100%;

                .inputFlex{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .inputField {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 1rem;
                        width: 48%;
    
                        label {
                            font-size: var(--eighteen);
                            font-weight: 400;
                            margin-bottom: 0.5rem;
                        }
    
                        input {
                            padding: 0.5rem 1rem;
                            outline: none;
                            font-size: var(--sixteen);
                            font-family: var(--font-text);
                            font-weight: 500;
                            transition: all 0.3s ease;
                            border: 1px solid #DEDDDD;
                            border-radius: 12px;
    
                            &:focus {
                                border: 1px solid var(--black);
                            }
                        }
                    }
                }

                .inputField {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    width: 100%;

                    label {
                        font-size: var(--eighteen);
                        font-weight: 400;
                        margin-bottom: 0.75rem;
                    }

                    input {
                        padding: 0.5rem 1rem;
                        outline: none;
                        font-size: var(--sixteen);
                        font-family: var(--font-text);
                        font-weight: 500;
                        transition: all 0.3s ease;
                        border: 1px solid #DEDDDD;
                        border-radius: 12px;

                        &:focus {
                            border: 1px solid var(--black);
                        }

                        &::placeholder{
                            color: #BEBEBE;
                            font-size: var(--sixteen);
                        }
                    }
                }

                .saveBtn {
                    min-width: 8rem;
                    width: fit-content;
                    height: 2.5rem;
                    padding: 0.75rem;
                    text-align: center;
                    border: none;
                    border-radius: 0.5625rem;
                    z-index: 1;
                    cursor: pointer;
                    margin: 0 auto;
                    font-size: var(--sixteen);
                    transition: 0.3s all;
                    margin-right: 0%;
                    margin-left: auto;
                    margin-top: 2rem;
                    
                    
                    
                    &:hover {
                        transform: scale(.95, .95);
                        background-color: var(--black);
                    }
                }

            }
        }
    }
}