.adminClient_Page {
    .wd_80 {
        .adminClient_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem;

            @media screen and (min-width: 800px) {
                margin: 2rem 3rem 1rem;
            }

            .previousButton {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: none;
                background: none;
                outline: none;
            }

            .subHead_input {
                display: block;

                @media screen and (min-width: 800px) {
                    display: none;
                }

                .inputField {
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    padding: 0.5rem;
                    background: #fbfbfb;
                    border: 1px solid #dfdfdf;
                    border-radius: 10px;

                    input {
                        width: 80%;
                        padding-left: 1rem;
                        outline: none;
                        background: none;
                        border: none;
                        font-size: var(--eighteen);

                        &::placeholder {
                            color: #bebebe;
                        }
                    }
                }
            }
        }

        .adminClient_subhead {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0 2rem 1rem;

            @media screen and (min-width: 800px) {
                flex-direction: row;
                justify-content: space-between;
                margin-left: 3rem;
                margin-right: 3rem;
            }

            .subHead {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0rem;
                font-size: var(--eighteen);
                padding-bottom: 1rem;

                @media screen and (min-width: 800px) {
                    align-items: center;
                    flex-direction: row;
                    margin: 1.5rem 0 0.75rem;
                }

                .formHead {
                    font-family: var(--font-head);
                    font-size: var(--thirtyEight);
                    font-weight: 600;
                    margin-bottom: 1rem;
                    line-height: 38px;

                    @media screen and (min-width: 800px) {
                        font-size: var(--thirtyTwo);
                        font-weight: 500;
                        margin: 0 0;
                    }
                }

                .totalClients {
                    font-size: var(--twentyTwo);
                    color: var(--hotPink);
                    font-weight: 700;

                    @media screen and (min-width: 800px) {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                }

                .sortDropdown {
                    display: flex;
                    justify-content: space-between;

                    .accordion {
                        display: block;
                        margin: 0;
                        padding-bottom: 0;
                        border: 0;
                        position: relative;

                        .accordionHeader {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            .accordionCol {
                                .headText {
                                    color: var(--black);

                                    @media screen and (min-width: 480px) {
                                        font-size: var(--twentyTwo);
                                    }
                                }

                                .accordionIcon {
                                    width: 1rem;
                                    height: 1rem;

                                    @media screen and (min-width: 480px) {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                    }
                                }
                            }
                        }

                        .accordionBody {
                            position: absolute;
                            z-index: 1;

                            .description {
                                margin-top: 0.75rem;
                                padding: 0 0 0.1rem;
                                width: 172px;
                                display: flex;
                                flex-direction: column;
                                height: 150px;
                                box-shadow: 0px 0px 4px 2px #a9a9a940;
                                border-radius: 10px;

                                .sortBy {
                                    font-size: var(--fourteen);
                                    border: none;
                                    text-align: left;
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 1rem;
                                    font-weight: 600;
                                    border-bottom: 1px solid rgba(61, 21, 61, 0.1);
                                    background: var(--white);

                                    margin: 0;

                                    &:hover {
                                        background: var(--hotPink);
                                        color: var(--white);
                                    }

                                    @media screen and (min-width: 480px) {
                                        font-size: var(--sixteen);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .subHead_input {
                display: none;

                @media screen and (min-width: 800px) {
                    display: block;
                }

                .inputField {
                    display: flex;
                    align-items: center;
                    width: 17.75rem;
                    height: 3rem;
                    padding: 0.5rem;
                    background: #fbfbfb;
                    border: 1px solid #dfdfdf;
                    border-radius: 10px;

                    input {
                        width: 80%;
                        padding-left: 1rem;
                        outline: none;
                        background: none;
                        border: none;
                        font-size: var(--eighteen);

                        &::placeholder {
                            color: #bebebe;
                        }
                    }
                }
            }
        }

        hr {
            border: 0;
            border-bottom: 1px solid #f2f2f2;
        }
    }

    .adminClient_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;

        .noClientsCard {
            display: grid;
            place-items: center;

            .noClient_Img {
                height: 4.6875rem;
                width: 4.6875rem;
                border-radius: 0px;
                margin-bottom: 1rem;
            }

            .noClient_Txt {
                font-size: var(--twentyTwo);
                font-weight: 700;
                line-height: 1.625rem;
                letter-spacing: 0em;
                text-align: center;
                margin-bottom: 0.5rem;
            }

            .smallNote {
                font-size: var(--sixteen);
                font-style: italic;
                font-weight: 500;
                line-height: 1.1875rem;
                letter-spacing: 0em;
                text-align: center;
                color: #707070;
            }
        }

        .clientCards {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 700px) {
                justify-content: space-between;
            }

            .clientCard {
                width: 17rem;
                height: 15.875rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #f8f2f6;
                border: 1px solid #d8bcd6;
                border-radius: 1.25rem;
                margin-bottom: 1rem;
                padding: 1rem;

                @media screen and (min-width: 500px) {
                    width: 14rem;
                    height: 13.875rem;
                }

                @media screen and (min-width: 900px) {
                    width: 17rem;
                    height: 15.875rem;
                }

                .clientImg {
                    width: 6rem;
                    height: 6rem;
                    border: 1px solid #f2e8f1;
                    border-radius: 50%;
                    margin-bottom: 0.75rem;
                }

                .clientName {
                    font-size: var(--twentyTwo);
                    line-height: 1.625rem;
                    margin-bottom: 0.75rem;
                }

                .cardButtons {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;

                    .profile,
                    .chat {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 6.25rem;
                        height: 2rem;
                        border-radius: 5px;
                        font-size: var(--sixteen);
                        margin-bottom: 0.75rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            transform: scale(1.05);
                        }

                        @media screen and (min-width: 500px) {
                            width: 5.5rem;
                            height: 2rem;
                        }
                    }

                    .chat {
                        background: var(--black);
                        color: var(--white);
                    }

                    .profile {
                        background: var(--white);
                        color: var(--black);
                        border: 1px solid #050205;
                        border-radius: 5px;
                    }
                }
            }
        }

        .btn-secondary {
            width: 214px;
            height: 2.5rem;
            transition: all 0.3s ease-in-out;
            border: 1px solid #dedddd;
            border-radius: 9px;
            background: var(--white);
            align-self: center;
            margin-top: 1rem;

            &:hover {
                background: var(--black);
                color: var(--white);
                transform: scale(1.05);
            }
        }
    }
}
