.bottomNav__wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    bottom: -2px;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #F5F5F5;
    box-shadow: 7px 4px 9px rgba(0, 0, 0, 0.456);

    .iconWrap{
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;

        .bottomNav{
            margin-bottom: .1rem;
        }

        label{
            color: #989898;
            font-size: var(--fourteen);
        }

        &:hover, &:focus{
            fill: var(--purple);
            color: var(--purple);

            label{
                color: var(--black);
            }

            #Vector{
                fill: var(--purple);
            }

            #Stroke{
                stroke: var(--purple);
            }
        }
    }
}




@media screen and (min-width: 768px) {
    .bottomNav__wrap{
        display: none;
    }
}