.personalInfo_page {
    
    .wd_90 {
        width: 90%;
        margin: 2rem auto;
        
        .personalInfo_head {
            display: flex;
            align-items: center;

            p{
                color: #707070;
            }
        }
        
        
        .personalInfo_subhead {
            display: flex;
            align-items: center;
            margin: 1.5rem 0 .75rem;
            font-size: var(--eighteen);
            font-family: var(--font-text);

            @media screen and (min-width: 768px) {
                margin: 1rem 0;
            }
        }
        
        .formHead {
            font-family: var(--font-head);
            font-size: var(--thirtyEight);
            font-weight: 600;
            margin-bottom: 1rem;
            line-height: 38px;
            
            @media screen and (min-width: 768px) {
                font-size: var(--thirtyTwo);
                font-weight: 500;
                margin-bottom: 2rem;
            }
        }
        
        .personalInfo_form {
            display: flex;
            flex-direction: column;

            .formWrap {
                display: block;
                margin: 1rem 0;
                
                .inputWrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p{
                        font-size: var(--eighteen);
    
                        @media screen and (min-width: 768px) {
                            font-size: var(--sixteen);
                        }
                    }
                    
                    .editBtn, .updateBtn{
                        outline: none;
                        border: none;
                        background: none;
                        color: var(--black);
                        font-size: var(--eighteen);

                        &:hover{
                            text-decoration: underline;
                        }

                        @media screen and (min-width: 768px) {
                            font-size: var(--sixteen);
                        }
                    }
                }

                .inputField {
                    width: 100%;
                    font-family: var(--font-text);
                    font-size: var(--sixteen);
                    outline: none;
                    border: 0;
                    padding: 0.45rem 0;
                    margin-bottom: 0.5rem;
                    border-bottom: 1px solid #050205;
                    background: var(--white);
                    color: var(--black);

                    &::placeholder {
                        color: #bebebe;
                    }
                }
            }

            .saveBtn {
                width: 248px;
                height: 64px;
                color: var(--white);
                font-size: var(--twenty);
                background: var(--black);
                border: none;
                outline: none;
                border-radius: 10px;
                align-self: center;
                margin: 2rem 2rem 6rem;

                @media screen and (min-width: 768px) {
                    align-self: flex-end;
                    margin: 2rem 0 3rem;
                }
            }
        }
    }
}
