.deactivationModal {
    position: fixed;
    z-index: 300;

    .deactivationContent {
        display: grid;
        background-color: var(--white);
        width: 90%;
        height: 14rem;
        margin: 0 auto;
        border-radius: 12px;

        @media screen and (min-width: 500px) {
            width: 21.875rem;
            height: 13rem;
        }

        .dialogHeader {
            display: flex;
            justify-content: space-between;
            background: #EEEEEE;
            padding: 1rem 2rem;

            .boldText{
                font-weight: 700;
            }
        }

        .dialogBody {
            display: block;
            text-align: center;
            padding: 1rem;

            p {
                font-size: var(--twenty);
                font-weight: 500;
            }
        }

        .dialogFooter {
            display: block;
            text-align: center;
            margin: 0rem auto 1rem;

            .btn-primary {
                background-color: #893583;
                color: var(--white);
                border: none;
                width: 12rem;
                transition: 0.5s all;

                &:hover {
                    transform: scale(0.95, 0.95);
                }
            }

            .btn-secondary {
                background-color: var(--white);
                color: var(--black);
                border: 1.5px solid #B8B8B8;
                width: 12rem;
                margin-right: 1rem;
                transition: 0.5s all;

                &:hover {
                    transform: scale(0.95, 0.95);
                }

                @media screen and (min-width: 768px) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}
