.beblendedLogin{
    .beblendedHeader{
        background: #FCFCFC;
        padding: 2rem;
        border-bottom: 1px solid #EAEAEA;
    }

    .formhead{
        display: grid;
        place-items: center;
    }

    .loginForm{
        .formWrap{
            margin-bottom: 1rem;

            .formLabel{
                font-size: var(--sixteen);
                color: var(--black);
                margin-top: .75rem;
                line-height: 1.25rem;
            }

            .formInput{
                height: 4rem;
                width: 26.625rem;
                border: 1px solid #B8B8B8;
                border-radius: 6px;   
                color: var(--black);
                font-size: var(--sixteen);   
                padding: .5rem;  
                outline: none;
                
                &::placeholder{
                    font-size: var(--sixteen);
                    color: var(--black);
                }
            }
        }

        .submitBtn{
            height: 4rem;
            width: 26.625rem;
            border: none;
            border-radius: 6px;
            background: var(--black);
            color: var(--white);
            font-size: var(--sixteen);
            font-weight: 500;
            margin-top: 1rem;
            outline: none;
        }
    }
}